<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.rba.modular.detail">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity
            android:name="com.rba.modular.detail.DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

    <dist:module
        dist:instant="false"
        dist:title="@string/title_detail">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>

